{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Document</title>
</head>
<body class="bg-primary">
    <header class="navbar navbar-expand-lg navbar-dark bg-primary">
        <h1 class="navbar-brand" >page of index in kiharax.</h1>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <nav class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                <li class="nav-item nav-link"><a class="nav-link" href="{% url 'kiharax:name' %}">name</a></li>
                <li class="nav-item nav-link"><a class="nav-link" href="{% url 'kiharax:gender' %}">gender</a></li>
                <li class="nav-item nav-link"><a class="nav-link" href="{% url 'kiharax:age' %}">age</a></li>
                <li class="nav-item nav-link"><a class="nav-link" href="{% url 'kiharax:height' %}">height</a></li>
                <li class="nav-item nav-link"><a class="nav-link" href="{% url 'kiharax:weight' %}">weight</a></li>
                <li class="nav-item nav-link"><a class="nav-link" href="{% url 'kiharax:description' %}">description</a></li>
            </ul>
        </nav>
    </header>

    <main class="container-fluid bg-light p-2">
        <p class="alert alert-success" role="alert">{{ response }}</p>
        <p>
        インターネットでは、「インターネット・プロトコル・スイート」（あるいは「TCP/IPプロトコル・スイート」）と呼ばれる、
        一種の標準化された通信プロトコルと概念モデル（OSI参照モデル）を組み合わせて明確に提供することで、
        世界中のネットワークとネットワーク、ネットワーク機器とネットワーク機器の相互接続を可能にし、「ネットワークのネットワーク」が実現している。
        （インターネット・プロトコル・スイートが標準化された形で明確に提供されていることによって、
        あるユーザがインターネットに既存の（やや古い通信プロトコルの）ネットワークや自分独自の方式のネットワークや独自の機器などを接続しようとする場合でも、
        それらとインターネットとの相違部分や差分を明確にでき、合わせるべき対象が明確化されているおかげで、
        その相違を解消したり橋渡しする機器を用意し、間に挟みさえすれば接続できることになった。
        そして核として機能する標準化されたプロトコルや概念モデルがあることで、次第にネットワーク同士の相互接続が実現した。）
        （一般にネットワークというのは、物理的なレベル（物理的な実体）（＝「物理層」）から始まって、その上に順に電気的なレベル、単純な信号のレベル、信号で表現させた情報のレベル... と、
        まるで層（レイヤー）を積み上げるような形で成立しているわけだが）このインターネットでは、下のほうの層では（歴史の長い）copper wire（銅線）はもちろんのこと、光ファイバーや無線も含んでいる。
        （物理層の上には「データリンク層」「ネットワーク層」...等々があるわけだが、途中の細かいことは省いて、皆に分かりやすい層に一挙に話を進めると）、
        インターネットの（最）上位層の「アプリケーション層（応用層）」で用意されている（一種の、技術的な）枠組みは、初期段階では比較的単純なものばかりだったが、
        そこに徐々に複雑・高度なものが付け足され、充実化・複雑化・高度化してきた経緯がある。初期段階ではたとえばファイル転送、電子メール、ウェブのハイパーテキスト文書、などの単純なものであった。
        その後に、ピア・トゥ・ピアなどのファイル共有、ウェブアプリケーション、音声通信、ストリーミング等々の仕様や方法論が提案されたり、標準的な方法が決まるなど、徐々に増えていった。
        1990年代前半では、世界的に見るとインターネットを利用したことのある人の割合はごくわずかで、
        ほとんどの人はインターネットとは何かも全く知らず、eメールの送受信もしたこともなく、ウェブブラウザの画面も見たことが無い、という状態であった。
        だが、当時普及していたOSのメーカー（Apple社やMicrosoft社など）が、インターネットに対応したOSやe-mailクライアント・ソフトやウェブブラウザも最初からインストール済みの形で提供するようになると、
        その便利さに気付く人々は指数級数的に増えて行き、趣味的で個人的なウェブサイト（「ホームページ」）を公開しe-mailのやりとりをする人々が徐々に増え、
        最初はほとんどの企業はインターネットやe-mailやウェブサイトはほぼ無視していたが、利用する人々の数が増えるにつれ、企業もその商業的な機会に着目するようになり、
        公式のサイト設置とe-mail対応をする企業が徐々に増え始め、またウェブページの数が増えるにつれ、検索エンジンの必要性の高まりと乱立と競争が起き、
        2000年代には 企業がインターネット上の枠組み（前述の「アプリケーション層」）を活用して、本格的に商業的サービスを提供するようになり、たとえば大規模なオンラインモールなども運用されるようになった。
        また電子掲示板、SNSの利用も進み、物理的な距離とは無関係に様々なコミュニティが形成されるようになった。こうして2000年代には、e-mailやウェブサイトなどに慣れた人々が多数派となり、
        ほとんどの国で、インターネットは一種の「社会インフラ」のひとつともなった。さらに2010年代にはスマートフォン（スマホ）の爆発的な普及により、
        先進国の人々はインターネットに接続している機器を身につけるようにして生活し、スマホを用いてインターネット経由で家族・友人から知人・同僚・外国の取引先 等々までと連絡を取り合い、
        国境を越えて世界中のニュースを知り、日常的に商品を購入し、予約をとる、といった具合で、先進国の人々が生活する上でインターネットはますます欠かせない存在となっている。
        インターネットによって、個人、一般企業、教育機関、政府組織 等々の、スマホやPCやサーバが相互接続されており、国境を越えて世界各国の組織や個人が繋がっているわけである。
        （IoT（モノのインターネット）という概念は1999年に提案されたわけだが）2010年代末になりIoTに対応した機器も比較的安価に販売されるようになり、
        各家庭の電灯やエアコンや調理器具や冷蔵庫 等々でインターネットに接続される機器も増えつつある。これらはしばしばスマートスピーカーやスマホから音声で操作されわけだが、
        これなどもインターネット上のサーバのAIによって音声認識されることで動作している。
        なおインターネットは、（もともと研究機関相互の接続など、比較的 まっとうな振る舞いをする人々が、まっとうに振舞うべきだと考えるような状況で使用することを想定して作られた、
        という経緯もあったので）そのプロトコルにはセキュリティに関する仕組みが十分に組み込まれていなかった、という経緯があり、（その後、当初の想定をはるかに越えて、
        世界中の誰でも、最初から犯罪目的で利用する者も含めてアクセスするようになってしまったので）不正アクセス、サイバー攻撃などの問題が頻発する結果を生んでしまっている。
        個々のサーバーの設定の工夫や、OSメーカによるサーバーのセキュリティ対策、アプリケーションレベルでの対策、ネットワーク機器のセキュリティ対策 等々様々な試みが続けられているが、
        「いたちごっこ」が続くばかりで、犯罪者側のスキルも上がり、巧妙化し、インターネットの場での犯罪は増すばかりである。
        たとえば犯罪者が 企業の正規のサイトを偽装して人々を巧みに騙し大金を騙し取る犯罪も頻発しているし、大手業者のサイトのサーバを攻撃し利用者や会員の個人情報を数十万人～数千万人の規模で盗み取ってしまい、
        その個人情報が転売されてしまったり、個人情報が悪用されてさらに犯罪行為が行われ被害者が出る、ということも続いている、
        某国の中央政府の率いる 秘密のサイバー部隊が（IPなどを偽装するなどして）米国のSNSなどにアクセスし、アカウントを大量に作り、プログラムを使って自動的に大量に書き込みを行って印象操作や情報操作を行い、
        有権者の投票行動を操って米国大統領選挙の選挙の得票数にも影響を与えてしまう、という事件も起きており、
        中国はルーターや他のさまざまなネットワーク機器を非常に安価に販売し各国で大量に導入されているがそうした中国製機器にはしばしばバックドア（一種の裏口）が設けられていて、
        中国政府の諜報機関などが望めば、それらの機器に特定の（秘密の）信号が送られ、それによってやりとりされる情報を監視できてしまうようになっており、
        結果としてそれらの機器を使っている組織や部署の（アカウント情報やパスワードなどの）情報は中国政府に対し「筒抜け」になってしまっており、西側諸国の軍、
        たとえば米国国防省の機密情報サーバですらファイアウォールを破られ最新鋭の兵器の設計図や開発データなどを含む最高レベルの軍事機密情報がいともたやすく（しかもテラバイト規模で）中国（や北朝鮮）などに盗まれる、
        という深刻な事件も起きて、米軍の最新鋭戦闘機そっくりの戦闘機が中国で（設計・開発・プロトタイプづくりなどのの試行錯誤の期間も一切なく、いきなり）登場して空を飛行するようになり 米軍機と同速で飛行し一触即発の接近飛行を行う事態にもなっている[要出典]。こうしてサイバー犯罪やサイバーテロは個人によってだけでなく集団レベル国家レベルでも行われてしまっており、毎日世界中で大量に、数え上げるのが実際に無理な規模（数千万件や数億件規模）で行われてしまっており、その一部が非常に深刻な結果を生んでいるわけである。最近では、現行のインターネットの仕組みを根本から見直し、セキュアなネットワークを目指した新しい仕組みの構築を探る動きもあるが、今のところさほど成果は出ていない。そもそも、防御側が高度なセキュリティを施しても抜け穴が完全に無くなるわけではなく、攻撃側の手法も高度になるため、「イタチごっこ」にしかならない。
        「インターネット」の語の起源は、もともとは一般名詞の「インターネットワーク（internetwork）」で、本来の意味は「ネットワーク間のネットワーク」や「複数のネットワークを相互接続したネットワーク」で ある / あった が[注 2]、その後、通常は固有名詞として、ARPANETを前身とし、唯一の世界的規模のネットワーク（のネットワーク）を指すようになった。[注 3] 特に日本語で「インターネット」と呼ぶ場合は、この固有名詞の意味である場合が大半である。現在でも英語圏の教科書や辞書では「the Internet」と表記するのが正しい。ただし、英語圏の報道メディアの一部では、2016年あたりから、小文字で始まる「internet」を採用しようとする動きもある[1]。つまり、「the Internet」とするか「internet」とするか、表記揺れはある。
        インターネット・プロトコル・スイートという技術（の一部）を用いているものの、あくまで社内など組織内にあるネットワーク、社内の部分に焦点を当てた場合はイントラネットと呼ぶ。複数のイントラネットを相互接続したものをエクストラネットとも呼ぶ。
        インターネット技術には、例えば電子メールやウェブ（World Wide Web、ハイパーテキスト形式で文書・写真・映像・音声 等々等々を転送・表示する仕組み）[2]など、さまざまな技術が含まれている。
        </p>
    </main>

    <footer class="footer p-2 bg-primary">
        <div class="container">
            <p><small class="text-white">Hi. I'm footer that protect foot of this page!</small></p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
