{% extends "student/template.html" %}
{% block main %}
        <ul>
        {% for num, column in archive.list.items %}
            <a href="{{ num }}"><li>
                <ul>
                {% for value in column.values %}
                    <li>{{ value }}</li>
                {% endfor %}
                </ul>
            </li></a>

            <br>

        {% endfor %}
        </ul>
{% endblock %}

{% block footer %}
    <form action="{% url 'join' %}" method="post">
        {% csrf_token %}
        <button type="submit" value="join" name="navi">join</button>
        <button type="submit" value="archive" name="navi">archive</button>
        <button type="submit" value="mypage" name="navi">mypage</button>
    </form>
{% endblock %}