<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{{ fixed.sitename }} | {{ fixed.title }}</title>
</head>
<body>
    <header>
        <h1>{{ fixed.sitename }}</h1>
        <h2>{{ fixed.title }}</h2>
    </header>

    <main>
        <form action="" method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="{{ login.username }}"><br>
            <input type="password" name="password" placeholder="{{ login.password}}"><br>
            <input type="submit" value="{{ login.login }}">
        </form>
        <a href="">{{ login.help }}</a>
    </main>

    <footer>
        <a href="">{{ login.student }}</a>
        <a href="">{{ login.parent }}</a>
    </footer>
</body>
</html>
