{% extends "student/template.html" %}

{% block main %}
<form action="" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="{{ login.username }}"><br>
    <input type="password" name="password" placeholder="{{ login.password}}"><br>
    {% comment %}<input type="submit" value="{{ login.login }}">{% endcomment %}
    <a href="{% url 'payment' %}">{{ login.login }}</a>
</form>
<a href="{% url 'help' %}">{{ login.help }}</a>
{% endblock %}

{% block footer %}
<a href="{% url 'index' %}">{{ login.student }}</a>
<a href="">{{ login.parent }}</a>
{% endblock %}