<!DOCTYPE html>
<html lang="ja">
<head>
    {% load static %}
    <meta charset="UTF-8">
<!--    <link href="{% static 'student/css/destyle.css' %}" rel="stylesheet" type="text/css">-->
    <title>{% block title %}{{ fixed.sitename }} | {{ fixed.title }}{% endblock %}</title>
</head>
<body>
    <header>
        {% block header %}
        <h1>{{ fixed.sitename }}</h1>
        <h2>{{ fixed.title }}</h2>
        {% endblock %}
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <footer>
        {% block footer %}
        <ul>
        {% for key, column in nav.items %}
            <li><a href="{% url key %}">{{ column }}</a></li>
        {% endfor %}
        </ul>
        {% endblock %}
    </footer>
</body>
</html>