{% comment %} {% load static %} {% endcomment %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VirtualClassRoom | login</title>
</head>
<body>

    <header>
        
    </header>
    <!-- end of header -->
    <navi>
            
    </navi>
    <!-- end of navi -->

    <main>

        <p>{% response %}</p>

    </main>
    <!-- end of main  -->

    <footer>

    </footer>
    <!-- end of footer -->
    
</body>
</html>