{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" type="text/css" href="{% static 'css/ress.css' %}">
   <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
   <title>Document</title>
</head>
<body>
<div class="wrapper">
   <article class="header">
   <h1>page of index in kiharax.</h1>
   </article><!-- header -->

   <article class="main">
   <p>{{ response }}</p>
   </article><!-- main -->

   <article class="footer">
   <p>Hi. I'm footer that protect foot of this page!</p>
   </article><!-- footer -->
</div><!-- wrapper -->
</body>
</html>